<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"> <!-- bean definitions here -->

	<!-- <bean class="com.spring.lifecycle.Engine" name="e1" init-method="init" 
		destroy-method="destroy"> <constructor-arg value="3421"/> <constructor-arg 
		value="Walkswagon Virtus"/> </bean> -->

	<bean class="com.spring.lifecycle.Question" name="q1">
		<property name="qid" value="2356"/>
		<property name="question" value="What is Java ?"/>
	</bean>
	<bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>
</beans>